<h2 class="text-2xl text-green-800 font-bold">Game submitted successfully</h2>

<p>New Score</p>
{{range $result := .}}
<div
  class="flex flex-row items-center gap-3 p-3 border-2 border-gray-500 rounded-lg cursor-pointer"
>
  <div class="flex flex-row justify-between w-full">
    <h4 class="text-lg font-bold">{{.Name}}</h4>
    <p>
      {{printf "%.0f" .Liglicko2Rating}} ELO
      <span
        class="{{if gt .EloGiven 0}}text-green-800 font-bold{{else if lt .EloGiven 0}}text-red-700{{else}}text-gray-500{{end}}"
      >
        {{if gt .EloGiven 0}}+{{end}}{{if lt .EloGiven 0}}{{else if eq .EloGiven
        0}}+{{end}}{{.EloGiven}}
      </span>
    </p>
  </div>
</div>
{{end}}

<div class="flex flex-col gap-5 md:flex-row">
  <button
    onclick="window.location.reload()"
    class="rounded-lg p-2 px-5 bg-green-800 max-w-100 text-white font-bold"
  >
    Submit Another Game
  </button>
  <button
    onclick="window.location.replace('/')"
    class="rounded-lg p-2 px-5 bg-gray-500 max-w-100 text-white font-bold"
  >
    View The Leaderboard
  </button>
</div>
